@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

:root{
    --dark-red: #990000;
    --purple: #99004d;
    --dark-grayish-blue: #9095a7;
    --very-dar-blue: rgb(29,30,37);
    --very-pale-red: #ffefeb;
    --very-light-gray: #fafafa;
}